.contato2{
    padding-left: 130px;
}

.titulo3{
    color: var(--color-title);
    font-family: var(--font-display);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    padding: 100px 0 0 0;
}

.mapa{
    padding-top: 30px;
    padding-bottom: 30px;
}

.textos_mapa{
    color: #626262;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 30px;
    padding-left: 32px;
}

.p{
    padding-bottom: 15px;
}

.endereço{
    display: flex;
    justify-content:flex-start;
}